<div class="row" *ngIf="!loadingData">
  <div class="col-12">
    <h4 class="text-info mt-3 text-center font-weight-bold title">
      Order Food
    </h4>
    <hr class="special-hr">
    <div class="col-10 col-md-6 ml-auto mr-auto subtitle">
      <div class="card">
        <div class="card-body">
          <div class="card-text text-center">
            <form [formGroup]="orderFoodForm" (ngSubmit)="processForm()">
              <div class="form-group">
                <mat-form-field class="custom-form-control">
                  <mat-label>Select a DC</mat-label>
                  <mat-select formControlName="dcId" (selectionChange)="dcChanged()" required="true">
                    <mat-option *ngFor="let dc of dcList" value={{dc.dcId}}>{{dc.dcName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('dcId').hasError('required')" class="font-weight-bold">Please
                    choose a DC</mat-error>
                  <mat-hint>Please Select a DC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="fcList && fcList.length > 0">
                  <mat-label>Select a Food Court</mat-label>
                  <mat-select formControlName="fcId" required="true" (selectionChange)="fcChanged()">
                    <mat-option *ngFor="let fc of fcList" value={{fc.fcId}}>{{fc.fcName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('fcId').hasError('required')" class="font-weight-bold">Please
                    choose a Food Court</mat-error>
                  <mat-hint>Please Select a FC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="fcList && fcList.length > 0">
                  <mat-label>Select a Menu</mat-label>
                  <mat-select formControlName="menuType" required="true" (selectionChange)="menuChanged()">
                    <mat-option *ngFor="let menu of menus" value={{menu}}>{{menu | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('menuType').hasError('required')" class="font-weight-bold">Please
                    choose a menu</mat-error>
                  <mat-hint>Please Select a Menu to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="vendorList && vendorList.length > 0">
                  <mat-label>Select a Vendor</mat-label>
                  <mat-select formControlName="vendorId" required="true">
                    <mat-option *ngFor="let vendor of vendorList" value={{vendor.vendorId}}
                      (click)="vendorChanged(vendor)">
                      {{vendor.vendorName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('vendorId').hasError('required')" class="font-weight-bold">Please
                    choose a Vendor</mat-error>
                  <mat-hint>Please Select a Vendor to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="counterList && counterList.length > 0">
                  <mat-label>Select a Counter</mat-label>
                  <mat-select formControlName="counterId" required="true">
                    <mat-option *ngFor="let counter of counterList" value={{counter.counterId}}>
                      {{counter.counterName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('counterId').hasError('required')" class="font-weight-bold">Please
                    choose a Counter</mat-error>
                  <mat-hint>Please Select a Counter to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <button type="submit" mat-raised-button color="primary" class="font-weight-bold"
                  [disabled]="!orderFoodForm.valid">Proceed</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h4 class="text-info mt-3 text-center font-weight-bold title">
      Menu
    </h4>
    <hr class="special-hr">
  </div>
</div>

<div class="loadingDiv">
  <mat-progress-spinner mode="indeterminate" *ngIf="loadingData" diameter="40"></mat-progress-spinner>
</div>