<div class="row" *ngIf="!loadingData">
  <div class="col-12">
    <h4 class="text-info mt-3 text-center font-weight-bold title">
      Order Food
    </h4>
    <hr class="special-hr">
    <div class="col-10 col-md-6 ml-auto mr-auto subtitle">
      <div class="card">
        <div class="card-body">
          <div class="card-text text-center">
            <form [formGroup]="orderFoodForm" (ngSubmit)="processForm()">
              <div class="form-group">
                <mat-form-field class="custom-form-control">
                  <mat-label>Select a DC</mat-label>
                  <mat-select formControlName="dcId" (selectionChange)="dcChanged()" required="true">
                    <mat-option *ngFor="let dc of dcList" value={{dc.dcId}}>{{dc.dcName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('dcId').hasError('required')" class="font-weight-bold">Please
                    choose a DC</mat-error>
                  <mat-hint>Please Select a DC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="fcList && fcList.length > 0">
                  <mat-label>Select a Food Court</mat-label>
                  <mat-select formControlName="fcId" required="true" (selectionChange)="fcChanged()">
                    <mat-option *ngFor="let fc of fcList" value={{fc.fcId}}>{{fc.fcName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('fcId').hasError('required')" class="font-weight-bold">Please
                    choose a Food Court</mat-error>
                  <mat-hint>Please Select a FC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="fcList && fcList.length > 0">
                  <mat-label>Select a Menu</mat-label>
                  <mat-select formControlName="menuType" required="true" (selectionChange)="menuChanged()">
                    <mat-option *ngFor="let menu of menus" value={{menu}}>{{menu | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('menuType').hasError('required')" class="font-weight-bold">Please
                    choose a menu</mat-error>
                  <mat-hint>Please Select a Menu to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="vendorList && vendorList.length > 0">
                  <mat-label>Select a Vendor</mat-label>
                  <mat-select formControlName="vendorId" required="true">
                    <mat-option *ngFor="let vendor of vendorList" value={{vendor.vendorId}}
                      (click)="vendorChanged(vendor)">
                      {{vendor.vendorName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('vendorId').hasError('required')" class="font-weight-bold">Please
                    choose a Vendor</mat-error>
                  <mat-hint>Please Select a Vendor to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="counterList && counterList.length > 0">
                  <mat-label>Select a Counter</mat-label>
                  <mat-select formControlName="counterId" required="true">
                    <mat-option *ngFor="let counter of counterList" value={{counter.counterId}}>
                      {{counter.counterName | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('counterId').hasError('required')" class="font-weight-bold">Please
                    choose a Counter</mat-error>
                  <mat-hint>Please Select a Counter to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <button type="submit" mat-raised-button color="primary" class="font-weight-bold"
                  [disabled]="!orderFoodForm.valid">Proceed</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3" *ngIf="vendorList && vendorList.length > 0">
    <h4 class="text-info mt-3 text-center font-weight-bold title">
      Vendors & Menu
    </h4>
    <hr class="special-hr">
    <div class="row mt-3 mb-3" *ngFor="let vendor of vendorList">
      <mat-card class="col-10 ml-auto mr-auto mt-3">
        <mat-card-header>
          <mat-card-title class="title">{{vendor.vendorName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="row" style="display: flex">
          <div class="col-12 mr-auto ml-auto mb-3 mt-3 shadow" *ngFor="let counter of vendor.menu">
            <h5 class="text-center text-info title">
              Counter: {{counter.counterName}}
            </h5>
            <hr class="special-hr">
            <div class="row">
              <div class="col-12">
                <h6 class="text-center text-info title">Slots</h6>
                <hr class="special-hr">
                <mat-action-list class="mr-auto ml-auto">
                  <mat-list-item>
                    <div class="col title text-info text-center">Slot Name</div>
                    <div class="col title text-info text-center">Queue Size</div>
                  </mat-list-item>
                  <mat-list-item *ngFor="let item of counter.trafficInfo" class="row">
                    <div class="col text-center"><small>{{item.slotName}}</small></div>
                    <div class="col text-center"><small>{{item.queueLength}}</small></div>
                  </mat-list-item>
                </mat-action-list>
              </div>
              <div class="col-12">
                <h6 class="text-center text-info title">Items</h6>
                <hr class="special-hr">
                <mat-action-list>
                  <mat-list-item *ngFor="let item of counter.items" style="padding-left: 10px;">
                    <mat-icon matTooltip={{item.description}} [matTooltipPosition]="'above'">info</mat-icon>
                    &nbsp;&nbsp;
                    {{item.mealName}}
                    <span class="alignPrice">Price: {{item.price}}</span>
                  </mat-list-item>
                </mat-action-list>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="loadingDiv">
  <mat-progress-spinner mode="indeterminate" *ngIf="loadingData" diameter="40"></mat-progress-spinner>
</div>