<div class="row" *ngIf="!loadingData">
  <div class="col-12">
    <h4 class="text-info mt-3 text-center font-weight-bold title">
      Order Food
    </h4>
    <hr class="special-hr">
    <div class="col-10 col-md-6 ml-auto mr-auto subtitle">
      <div class="card">
        <div class="card-body">
          <div class="card-text text-center">
            <form [formGroup]="orderFoodForm" (ngSubmit)="processForm()">
              <div class="form-group">
                <mat-form-field class="custom-form-control">
                  <mat-label>Select a DC</mat-label>
                  <mat-select formControlName="dc_id" (selectionChange)="dcChanged()" required="true">
                    <mat-option *ngFor="let dc of dcList" value={{dc.id}}>{{dc.dc_name | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('dc_id').hasError('required')" class="font-weight-bold">Please
                    choose a DC</mat-error>
                  <mat-hint>Please Select a DC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="fcList && fcList.length > 0">
                  <mat-label>Select a Food Court</mat-label>
                  <mat-select formControlName="fc_id" required="true" (selectionChange)="vendorChanged()">
                    <mat-option *ngFor="let fc of fcList" value={{fc.id}}>{{fc.fc_name | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('fc_id').hasError('required')" class="font-weight-bold">Please
                    choose a Food Court</mat-error>
                  <mat-hint>Please Select a FC to Proceed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="custom-form-control" *ngIf="vendorList && vendorList.length > 0">
                  <mat-label>Select a Vendor Court</mat-label>
                  <mat-select formControlName="vendor_id" required="true">
                    <mat-option *ngFor="let vendor of vendorList" value={{vendor.id}}>{{vendor.vendor_name | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="orderFoodForm.get('vendor_id').hasError('required')" class="font-weight-bold">Please
                    choose a Vendor</mat-error>
                  <mat-hint>Please Select a Vendor</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <button type="submit" mat-raised-button color="primary" class="font-weight-bold" [disabled]="!orderFoodForm.valid">Proceed</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loadingDiv">
  <mat-progress-spinner mode="indeterminate" *ngIf="loadingData" diameter="40"></mat-progress-spinner>
</div>